h1,.mda{
  color: darkgreen;
  text-align: center;
}
img{
  width: 100%;
  height: 400px;
  border-radius: 10%;
}
.img{
  width: 50%;
  height: 400px;
  border-radius: 20%;
}
.imaj{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(8,1fr);
  gap: 10px;
  border: 4px double darkred;
  padding: 5px;
  border-radius: 10px;
  background-image: url("images/Bg2.jpg");
  bbackground-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 5px;
  background: wheat;
}
.box1{
  grid-column: 1/4;
  grid-row: 1/3;
}
.box1 img,
.box4 img,
.box5 img,
.box7 img,
.box11 img,
.box12 img{
  height: 800px;
}
.box2{
  grid-column: 4/5;
  grid-row: 1/4;
}
.box2 img,
.box9 img{
  height: 1200px;
}
.box3{
  grid-column: 1/3;
  grid-row: 3/4;
}
.box4{
  grid-column: 3/4;
  grid-row: 3/5;
}
.box5{
  grid-column: 1/2;
  grid-row: 4/6;
}
.box7{
  grid-column: 4/5;
  grid-row: 4/6;
}
.box8{
  grid-column: 2/4;
  grid-row: 5/6;
}
.box9{
  grid-column: 1/3;
  grid-row: 6/9;
}
.box10{
  grid-column: 3/5;
  grid-row: 6/7;
}
.box11{
  grid-column: 3/4;
  grid-row: 7/9;
}
.box12{
  grid-column: 4/5;
  grid-row: 7/9;
}
.title{
  color: red;
  font-size: large;
  font-weight: 700px;
}
.description{
  color: blue ;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}